/* IMPORTS */
@import "variables.css";
@import "header.css";
@import "footer.css";

body{
    background-color: var(--color_bg_main);
}

h2, h3{
    font-family: var(--font_heading);
    color: var(--color_font);
}

h2{
    font-size: var(--font_size_h2);
    text-align: center;
    padding-bottom: var(--d_p_body_mobile);
}

p, a, span, i{
    font-family: var(--font_paragraph);
    color: var(--color_font);
}

form{
    font-family: var(--font_paragraph);
}

label{
    font-weight: 400;
    display: block;
}

input, button {
    border: none;
    border-radius: var(--border_btn_radius);
    width: 100%;
    margin: 0.3rem 0 1rem 0;
    font-size: var(--font_size_p);
    padding: 0.3rem 0;
}

.flex{
    display: flex;
}

/* BREADCRUMBS */
ul.breadcrumb{
    list-style: none;
    margin-left: 2.2rem;
    margin-bottom: 0.625rem;
}
  
  ul.breadcrumb li{
    display: inline;
    font-size: calc(var(--font_size_p)/1.2);
    font-family: var(--font_paragraph);
    color: var(--color_font);
}
  /* Adds / between elements in breadcrumbs */
  ul.breadcrumb li+li:before{
    padding: 0.2rem;
    color: var(--color_font);
    content: "/\00a0";
}
  
  ul.breadcrumb li a{
    color: var(--color_font);
    font-family: var(--font_paragraph);
    text-decoration: none;
}

/* FORM */
.order_info {
    background-color: var(--color_bg_second);
    padding: 2.2rem;
}

.div_exp_date, .div_p_code{
    margin-right: 0.9rem;
}

.div_city, .div_cvc {
    margin-left: auto;
    width: 65%;
}

/* CART SECTION */
.section_cart {
    margin-bottom: 2.2rem;
}

.section_cart > .grid {
    display: grid; 
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 3.125rem;
}

.cart_item > .grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.625rem;
}

.cart_price_remove {
    display: flex;
    grid-column: 2/2;
    grid-row: 2;
    margin-top: auto;
}

.img_cart {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 9.3rem;
    max-height: 9.3rem;
}

.cart_number{
    display: block;
    margin-top: 0.625rem;
}

.cart_item_title, .cart_number {
    font-size: 0.8rem;
}

.cart_item_info {
    margin-left: auto;
}

.cart_items, .cart_total {
    margin: 0 2.2rem;
}

.cart_row {
    display: flex;
    padding: 0.9rem 0;
    border-bottom: solid 1px var(--color_bg_second);
}

.cart_row > span {
    margin-left: auto;
}

.cart_total_price, .cart_price {
    font-weight: 500;
}

.cart_item {
    margin-bottom: 2.5rem;
    padding-bottom: 0.625rem;
}

.cart_item:last-child {
    margin-bottom: 0;
}

div.bg_img {
    background-color: var(--img_bg_color);
    text-align: center;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
}

.bg_img {
    width: 7.5rem;
    height: 7.5rem;
}
.img_cart {
    max-width: 7rem;
    max-height: 7rem;
}

/* REMOVE ITEM FROM CART */
.btn_remove {
    color: var(--color_icons);
    text-decoration: none;
    border: none;
    margin-left: auto;
    background-color: var(--color_bg_main);
    cursor: pointer;
}

/* BUTTON CONFIRM PUCHASE */
.btn_purchase {
    background-color: var(--color_btn_bg);
    color: var(--color_btn_font);
    width: 90%;
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--font_paragraph);
    font-weight: 300;
    font-size: var(--font_size_p);
    margin-bottom: 0.3rem;
    margin-top: 3.125rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

/* CONTINUE SHOPPING */
.txt_center {
    font-family: var(--font_paragraph);
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

/* ADJUST UNITS BOTTONS */
.cart_number {
    padding: 0 0.625rem;
    font-size: var(--font_size_p);
}

.minus, .plus {
    font-size: 1.5rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

/* Cart is empty*/
#cart_message {
    text-align: center;
}

/* TABLET */
@media only screen and (min-width: 767px) {

    main{
        margin: var(--d_m_body_tablet);
    }

    h2{
        font-size: calc(var(--font_size_h2) * 1.25);
        text-align: left;
    }

    .heading_order{
        width: 80%;
    }

    input{
        font-size: var(--font_size_p);
    }

    /* FORM */
    form{
        background-color: var(--color_bg_second);
        padding: 1.25rem;
        border-radius: var(--border_btn_radius);
    }

   .order_info{
        float: left;
        background-color: var(--color_bg_main);
        padding: 0;
        width: 90%;
    }

    .div_city, .div_cvc{
        width: 65%;
    }

    /* BREADCRUMB  */
    ul.breadcrumb{
        margin-left: 0;
    }
    
    ul.breadcrumb li{
        display: inline;
        font-size: var(--font_size_p);
    }

    /*  GRID */
    .grid{
        display: grid; 
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 1rem;
    }

    .section_cart > .grid{
        display: grid; 
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 1rem;
    }

    .section_order_info{
        order: 1;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .section_cart{
        order: 2;
        grid-column: 2/2;
        grid-row: 1/2;
    }

    .section_cart_total{
        order: 3;
        grid-column: 2/2;
        grid-row: 2/2;
    }

    /* ITEM */

    .cart_items, .cart_total{
        margin: 0;
    }

    .cart_items{
        border-top: solid 1px var(--color_bg_second);
        border-bottom: solid 1px var(--color_bg_second);
        padding: 1.25rem 0;
    }

    .cart_item_info{
        margin-left: auto;
        width: 65%;
    }

    .cart_item_title, label, p, .cart_number{
        font-size: var(--font_size_p);
    }

    .section_cart{
        margin-top: 3.75rem;
    }
    
    /* BUTTON CONFIRM PUCHASE */
    .btn_purchase{
        max-width: 75%;
    }

    .bg_img{
        width: 10rem;
        height: 10rem;
    }
    .img_cart{
        max-width: 9rem;
        max-height: 9rem;
    }

    /* cart is empty */
    #cart_message{
        text-align: left;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1064px) {

    main{
        margin: 0 var(--d_m_body_desktop);
    }

    .heading_order{
        width: 100%;
    }

    .section_cart{
        margin-top: 0;
    }

    .cart_item > .grid{
        height: 10.5rem;
    }

    .div_city, .div_cvc{
        width: 60%;
    }

    form{
        padding: 3rem;
    }
}