/* IMPORT VARIABLES */
@import "/css/variables.css";

h3, a {
    font-family: var(--font_links);
    text-decoration: none;
}

header {
    margin-bottom: 35px;
}

#logout_button {
    cursor: pointer;
}

.category_buttons {
    text-align: center;
    background-color: var(--color_bg_second);
    padding: 1rem;
}

.category_buttons a{
    text-decoration:none;
    margin: 1rem;
}

/* MOBILE */
@media only screen and (max-width: 767px) {
    /* Navbar style + flexbox */
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        flex-wrap: wrap;
    }

    /* Icons style */
    #navbar a{
        margin: 10px;
        color: var(--color_icons);
        align-self: center;
        color: inherit;
    }

    #navbar i{
        color: var(--color_icons);
    }

    .navbar_links{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    #user_message{
        display: flex;
        align-items: center;
        order: 3;
        width: 100%;
        margin: 10px;
        justify-content: center;
    }

    #user_message p{
        font-family: var(--font_links);
    }

    #user_logged_in{
        font-weight: bold;
    }

    

    /* Dropdown menu */
    #dropdown_menu{
        display: none;
        font-size: var(--font_size_nav);
        font-family: var(--font_links);
        position: absolute;
        width: 100%;
        margin-top: -40px;
    }

    #dropdown_menu ul{
        margin: 0;
        padding: 0;
        background-color: var(--color_bg_second);
    }

    #dropdown_menu li{
        list-style-type: none;
        border-top: 1px solid var(--color_bg_main);
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    #navbar a{
        text-decoration: none;
    }

    /* Logo */
    #navbar img{
        width: 150px;
        align-self: center;
    }
}

/* TABLET + DESKTOP */
@media only screen and (min-width: 768px){
    /* Navbar style */
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
    }

    /* Icon style */
    #navbar a{
        margin: 10px;
        color: var(--color_icons);
        align-self: center;
        color: inherit;
        padding-right: 10px;
    }

    .navbar_links{
        display: flex;
        align-items: center;
    }

    #navbar i{
        color: var(--color_icons);
    }

    #navbar h3 a{
        font-size: var(--font_size_nav);
        text-decoration: none;
    } 

    #user_message{
        display: flex;
        align-items: center;
    }

    #user_message p{
        font-size: var(--font_size_nav);
        font-family: var(--font_links);
    }

    #user_logged_in{
        font-weight: bold;
        font-size: var(--font_size_nav);
    }

    /* Dropdown menu */
    #dropdown_menu{
        display: none;
    }

    /* Logo */
    #navbar img{
        width: 200px;
        align-self: center;
    }

    /* Hide burger menu */
    #navbar .navbar_hide_desktop{
        display: none;
    }

    .category_buttons {
        text-align: center;
    }

    .category_buttons a {
        margin: 2rem;
    }
}