h3, a, #user_message p{
    font-family: var(--font_links);
    text-decoration: none;
}

header{
    margin-bottom: 2rem;
}

#logout_button{
    cursor: pointer;
}

.category_buttons{
    text-align: center;
    background-color: var(--color_bg_second);
    overflow: auto;
    white-space: nowrap;
    padding-left: 2rem;
}

.category_buttons a{
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
}

/* NAVBAR STYLE */
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.625rem 0;
    flex-wrap: wrap;
}

/* ICON STYLE */
 #navbar a{
    color: var(--color_icons);
    align-self: center;
    color: inherit;
}

#navbar i{
    color: var(--color_icons);
    padding: 0.5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin: 0 0.5rem;
}

.navbar_links{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

#user_message{
    display: flex;
    align-items: center;
    order: 3;
    width: 100%;
    margin: 0.625rem;
    justify-content: center;
}

#user_logged_in{
    font-weight: bold;
}

/* LOGO */
#navbar img{
    width: 9rem;
    align-self: center;
    padding: 0.6rem;
}

/* TABLET + DESKTOP */
@media only screen and (min-width: 768px){
    /* Navbar style */
    #navbar{
        padding: 0.625rem 1rem;
    }

    /* Icon style */
    #cart, #logout_button{
        display: flex;
        justify-content: center;
    }

    .navbar_links{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    #navbar a{
        margin: 0;
    }

    #navbar i{
        padding: 1rem;
        width: 2.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
    }

    #navbar h3 a, #user_message p, #user_logged_in{
        font-size: var(--font_size_nav);
    } 

    /* Logo */
    #navbar img{
        width: auto;
        height: 2.75rem;
    }

    .category_buttons{
        padding-left: 0;
    }
}