h3, a{
    font-family: var(--font_links);
    text-decoration: none;
}

header{
    margin-bottom: 2rem;
}

#logout_button{
    cursor: pointer;
}

.category_buttons{
    text-align: center;
    background-color: var(--color_bg_second);
    overflow: auto;
    white-space: nowrap;
    padding-left: 2rem;
}

.category_buttons a{
    text-decoration: none;
    margin: 1rem;
    display: inline-block;

}

/* NAVBAR STYLE */
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.625rem 0;
    flex-wrap: wrap;
}

/* ICON STYLE */
 #navbar a{
    margin: 0.625rem;
    color: var(--color_icons);
    align-self: center;
    color: inherit;
}

#navbar i{
    color: var(--color_icons);
}

.navbar_links{
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
}

#user_message{
    display: flex;
    align-items: center;
    order: 3;
    width: 100%;
    margin: 0.625rem;
    justify-content: center;
}

#user_message p{
    font-family: var(--font_links);
}

#user_logged_in{
    font-weight: bold;
}

#navbar a{
    text-decoration: none;
}

/* LOGO */
#navbar img{
    width: 9rem;
    align-self: center;
}

/* TABLET + DESKTOP */
@media only screen and (min-width: 768px){
    /* Navbar style */
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.625rem 1rem;
    }

    /* Icon style */
    #navbar a{
        margin: 0.625rem;
        color: var(--color_icons);
        align-self: center;
        color: inherit;
        padding-right: 10px;
    }

    .navbar_links{
        display: flex;
        align-items: center;
    }

    #navbar i{
        color: var(--color_icons);
    }

    #navbar h3 a{
        font-size: var(--font_size_nav);
        text-decoration: none;
    } 

    #user_message{
        display: flex;
        align-items: center;
    }

    #user_message p{
        font-size: var(--font_size_nav);
        font-family: var(--font_links);
    }

    #user_logged_in{
        font-weight: bold;
        font-size: var(--font_size_nav);
    }

    /* Logo */
    #navbar img{
        width: 9.3rem;
        align-self: center;
    }

    .category_buttons{
        padding-left:0;
    }
}