@import "variables.css";
@import "header.css";
@import "footer.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color_bg_main);
}

main {
    margin: var(--d_m_body_mobile);
}

h2, h3, h4 {
    font-family: var(--font_heading);
    color: var(--color_font);
}

h2 {
    font-size: var(--font_size_h2);
    text-align: center;
    padding-bottom: 2.2rem;
}

p, input, a, .btn_submit {
    font-family: var(--font_paragraph);
    color: var(--color_font);
}

input, .btn_submit {
    background-color: var(--color_btn_bg);
    color: var(--color_btn_font);
    border: none;
    border-radius: var(--border_btn_radius);
    padding: 0.3rem;
    width: 98%;
    cursor: pointer;
}

/* BUTTONS */
#btn_remove_filter{
    text-align: right;
    margin: 0rem 2rem 3rem 2rem;
}

.show_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn_show_description {
    border: none;
    text-decoration: underline;
    text-align-last: left;
    background: none;
    font-family: var(--font_paragraph);
    cursor: pointer;
}

/* ITEMS */

.card {
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.card > h3, h4, .product_price, .flex {
    margin-bottom: 0.35rem;
}

div.bg_img {
    background-color: var(--img_bg_color);
    text-align: center;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_img {
    width: 14rem;
    height: 14rem;
}

.product_img {
    max-width: 12.5rem;
    max-height: 12.5rem;
}

.flex {
    display: flex;
}

.fa-solid {
    align-self: center;
}

.product_rate {
    padding-left: 0.625rem;
}

.product_price_submit {
    margin-top: auto;
    padding-top: 1rem;
    font-weight: 500;
}

.product_count{
    margin-left: 0.5rem;
}


/* TABLET */
@media only screen and (min-width: 587px) {

    main {
        margin: var(--d_m_body_tablet);
    }
    
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }

    h2 {
        font-size: 2.5rem;
        font-size: calc(var(--font_size_h2) + 0.5rem);
    }
}

/* SMALL DESKTOP */
@media only screen and (min-width: 863px) {

    main {
        margin: 0 var(--d_m_body_desktop);
    }
    
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
        font-size: 2.5rem;
        font-size: calc(var(--font_size_h2) + 0.5rem);
    }
}

/*  DESKTOP */
@media only screen and (min-width: 1137px) {

    h2 {
        font-size: calc(var(--font_size_h2) + 1rem);
    }

    #grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #btn_remove_filter{
        margin: 0rem 2rem 4rem 2rem;
    }
}