@import "/css/variables.css";

* {
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    font-family: var(--font_heading);
    color: var(--color_font);
    margin: 2px;
}

p, input, a {
    font-family: var(--font_paragraph);
    color: var(--color_font);
    margin: 2px;
}

body {
    background-color: var(--color_bg_main);
}

h2 {
    font-size: 30px;
    text-align: center;
}

main {
    margin: var(--d_m_body_tablet);
}

.container p#price {
    margin-top: 2rem;
}

.category-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    margin-bottom: 3rem;
}

.category-buttons a { 
    background-color: var(--color_btn_bg);
    color: var(--color_btn_font);
    border: none;
    border-radius: calc(var(--border_btn_radius) / 2.5 );
    padding: 0.3rem;
    text-decoration:none;
    text-align: center;
    margin: 5px;
}

.card {
    transition: 0.3s;
    width: 100%;
    
    .container input {
        width: 100%;
    }
}

div.bg-img {
    background-color: var(--img_bg_color);
    text-align: center;
    margin-bottom: 5px;
    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

input {
    background-color: var(--color_btn_bg);
    color: var(--color_btn_font);
    border: none;
    border-radius: calc(var(--border_btn_radius) / 2.5 );
    padding: 0.3rem;
}

@media only screen and (min-width: 1024px) {

    main {
        margin: 0 var(--d_m_body_desktop);
    }

    .category-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1rem;
        padding: 1rem;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        transition: 0.3s;
        width: auto;
        margin: 1rem;
    }
}

@media only screen and (min-width: 1200px) {

    main {
        margin: 0 var(--d_m_body_desktop);
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        transition: 0.3s;
        width: auto;
        margin: 1rem;
    }
}
