@import "/css/variables.css";

* {
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    font-family: var(--font_heading);
    color: var(--color_font);
    margin: 2px;
}

p, input, a {
    font-family: var(--font_paragraph);
    color: var(--color_font);
    margin: 2px;
}

body {
    background-color: var(--color_bg_main);
}

h2 {
    font-size: 30px;
    text-align: center;
}

main {
    margin: var(--d_m_body_tablet);
}

.container p#price {
    margin-top: 2rem;
}

.category_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    margin-bottom: 3rem;
}

.category_buttons a { 
    background-color: var(--color_btn_bg);
    color: var(--color_btn_font);
    border: none;
    border-radius: calc(var(--border_btn_radius) / 2.5 );
    padding: 0.3rem;
    text-decoration:none;
    text-align: center;
    margin: 5px;
}

.card {
    transition: 0.3s;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    .container input {
        width: 98%;
    }
}

div.bg_img {
    background-color: var(--img_bg_color);
    text-align: center;
    margin-bottom: 5px;
    img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bg_img {
    height: 220px;
    margin-left: auto;
    margin-right: auto;

}

.product_img {
    height: -webkit-fill-available;
}


input {
    background-color: var(--color_btn_bg);
    color: var(--color_btn_font);
    border: none;
    border-radius: calc(var(--border_btn_radius) / 2.5 );
    padding: 0.3rem;
}


/* JULIE HAR INDSAT KODE HER - bare så det ikke så helt skørt ud når man åbnede - det må meget gerne fjernes/rettes til*/

.bg_img {
    width: 220px;
    height: 220px;
}
.product_img {
    max-width: 220px;
    max-height: 220px;
}

.flex {
    display: flex;
}

.product_rate {
    padding-left: 10px;
}

.product_price_submit {
    display: flex;
    margin-top: auto;
}

/* JULIE SLUT HER */
@media only screen and (min-width: 587px) {
    

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 50px;
    }

}

/*  DESKTOP */
@media only screen and (min-width: 1024px) {

    main {
        margin: 0 var(--d_m_body_desktop);
    }

    .category-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1rem;
        padding: 1rem;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        
        transition: 0.3s;
        width: 220px;

    }
}

@media only screen and (min-width: 1200px) {

    main {
        margin: 0 var(--d_m_body_desktop);
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        transition: 0.3s;
        width: auto;

    }
}
