@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    /*  BACKGROUND COLORS   */
    --color_bg_main: rgb(242, 242, 238);
    --color_bg_second: rgb(198, 180, 156);


    /*  FONT STYLING */
    --font_heading: 'Belleza', sans-serif;
    --font_size_h1: 6rem;
    --font_size_h2: 2rem;
    --font_size_h3: 1.8rem;
    --font_paragraph: 'Montserrat', sans-serif;
    --font_size_p: 1rem;
    --color_font: rgb(30, 30, 30);


    /*  BUTTON STYLING  */
    --color_btn_bg: rgb(82, 82, 82);
    --color_btn_font: white;
    --border_btn_radius: 0.2rem;
    --btn_width: 13rem; 
    --btn_height: 2.8rem; 
    

    /*  ICONS STYLING   */
    --color_icons: rgb(30, 30, 30);
    --width_icons: 1.6rem;
    

    /*  IMG STYLING */
    --img_bg_color: white;


    /*  NAV STYLING */
    --color_links: rgb(30, 30, 30);
    --font_links: 'Montserrat', sans-serif;
    --font_size_nav: 1.25rem;

    /*  DEFAULT MARGIN + PADDING*/
    --d_m_body_mobile: 1.5rem;
    --d_p_body_mobile: 1.5rem;

    --d_m_body_tablet: 2rem;
    --d_p_body_tablet: 2rem;

    --d_m_body_desktop: 8%;
    --d_p_body_desktop: 8%;
}