@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    /*  BACKGROUND COLORS   */
    --color_bg_main: rgb(242, 242, 238);
    --color_bg_second: rgb(198, 180, 156);


    /*  FONT STYLING    */
    --font_heading: 'Belleza', sans-serif;
    --font_size_h1: 96px;
    --font_size_h2: 60px;
    --font_size_h3: 30px;
    --font_paragraph: 'Montserrat', sans-serif;
    --font_size_p: 17px;
    --color_font: rgb(30, 30, 30);


    /*  BUTTON STYLING  */
    --color_btn_bg: rgb(82, 82, 82);
    --color_btn_font: white;
    --border_btn_radius: 0.5rem;
    --btn_width: 215px;    /* RETTET*/
    --btn_height: 45px;    /* RETTET*/
    

    /*  ICONS STYLING   */
    --color_icons: rgb(30, 30, 30);
    --width_icons: 27px;
    

    /*  IMG STYLING */
    --img_hw_grid: 282px;
    --img_hw_cart: 148px;
    --img_bg_color: white;


    /*  NAV STYLING */
    --color_links: rgb(30, 30, 30);
    --font_links: 'Belleza', sans-serif;
    --font_size_nav: 26px;

    /*  DEFAULT MARGIN*/
    --d_m_body_mobile: 35px;
    --d_p_body_mobile: 35px;

    --d_m_body_tablet: 35px;
    --d_p_body_tablet: 35px;

    --d_m_body_desktop: 8%;
    --d_p_body_desktop: 8%;
}